/*
Orange: #cf6d17;
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.sections-features .long-copy {
    margin-bottom: 20;
}

/*---------*/
/* LINKS */
/*---------*/

a:link, a:visited {
    color: #cf6d17;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #cf6d17;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*---------*/
/* BUTTONS */
/*---------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.box {
    padding: 1%;
}

/*--------*/
/* HEADER */
/*--------*/
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}


h1, h2, h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 20px;
    color: #cf6d17;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 2px solid #cf6d17;
}

/*------------*/
/* PARAGRAPHS */
/*------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*-------*/
/* ICONS */
/*-------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #cf6d17;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #cf6d17;
    font-size: 120%;
    margin-right: 10px;
    
    /* align text and icons
    line-height: 120%;
    vertical-align: middle;
    */
    
    margin-top: -5px;
}



.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
}

/* Main nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin: 10px
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #cf6d17;
}

/* MOBILE NAV */
.mobile-nav-icon {
    float: right;
    margin-top: 3px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* STICKY NAV */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px rgba(234, 234, 234, 0.54);
    box-shadow: 0 2px 2px rgba(234, 234, 234, 0.54);
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 13px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: 13px 0;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}



/*-------*/
/* MEALS */
/*-------*/
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.meal-photo img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*--------------*/
/* HOW IT WORKS */
/*--------------*/

.section-steps {
    background-color: rgba(244, 244, 244, 0.64);
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 20px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%; 
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 100px;
}

.works-step div {
    display: inline-block;
    color: #cf6d17;
    border: 2px solid #cf6d17;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 3%;
}

.btn-app:link, btn-app:visited {
    border: 0;
}

/*---------*/
/* CITIES */
/*--------*/
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
    
}

/*--------------*/
/* TESTIMONIALS */
/*-------------*/
.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*--------------*/
/* SECTION PLANS*/
/*--------------*/

.section-plans {
    background-color: rgba(244, 244, 244, 0.64);
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: -0 2px 2px #e2e2e2;
    box-shadow: -0 2px 2px #e2e2e2;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: 1px solid transparent;
}

.plan-price {
    font-size: 200%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #cf6d17;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*--------------*/
/* CONTACT FORM*/
/*--------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #CCC;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    cursor: pointer;
}

*:focus {
    outline: none;
}

/*--------*/
/* FOOTER */
/*--------*/

footer {
    background-color: #363636;
    padding: 40px;
    font-size: 80%
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.social-icons li:last-child,
.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
    
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;

    margin-top: 30px;
}

/*--------------*/
/*--ANIMATIONS--*/
/*--------------*/
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated {
    opacity: 1;
}